/* CSS Document */
h1 {
	text-align:left;
	font:16px;
	color: #009595;
}

body, h2, h3 {
	font:sans-serif; 
	text-align:left;
	font:12px;
}

h2, h3 {
	color: #009595;
	}

ul {
	list-style-type:none;
	padding:5px;

}

/**body..........**/

body	{
		margin: 0 auto;

}

/**container......**/
#container {
		background-color: #FFF;
		padding: .825%;
		margin: 0 auto;
		border:#F97100 thick double;
		border-width:30px;
		width:900px;

	}
	
/**links.........**/

a:hover {color:#009595;

}   /* mouse over link */	